body {
    --col-back-1: #060721;
    --col-back-you: #4a824e;
    --col-back-enemy: #BE6C17;
    --col-back-combinator: #74CCA3;
    --col-term: #A95A3E;
    --col-term-selected: #D39D58;
    --col-back-fv: #D9F5C4;
    --col-prim-1: #C9F1EB;
    --col-prim-2: #dcd0ff;

    font-family: monospace;
    background: var(--col-back-1);
    color: var(--col-prim-1);
    font-size: 15px;
}

.light-mode {
    --col-back-1: #d9dbff;
    --col-back-you: #47b94f;
    --col-back-enemy: #c37f38;
    --col-back-combinator: #74CCA3;
    --col-term: #A95A3E;
    --col-term-selected: #D39D58;
    --col-back-fv: #D9F5C4;
    --col-prim-1: #000000;
    --col-prim-2: #4b453e;
}

h3 {
    margin: 0px;
}

a {
    color: var(--col-prim-2);
}
